.col-box{
  height: 375px;
  color: rgb(0, 0, 0);
}

body p{
  font-family: 'Montserrat', sans-serif;
}

body h3{
  font-family: 'Playfair Display', serif;
}

body h1{
  font-family: 'Lobster', cursive;
}
.overlay{
  width: 100%;
  padding-top: 40px;
  padding-left: 15px;
  height: 375px;
  background-color: rgb(255, 162, 0);
}

.nav-link{
  font-family: 'Montserrat', sans-serif;
}
.navbar-brand{
  font-family: 'Lobster', cursive;
}

.col-image{
  background-image: url("../assets/andrew-valdivia-TuDxmwb0Kho-unsplash.jpg");
  background-size: cover;
  background-position: 0%;
  width: 100%;
  height: 375px;
  margin-bottom: 25px;
}


.left{
  width: 60%;
  float: left;
  height: 130px;
}

.right{
  height: 130px;
  width: 40%;
  float: left;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
 
}

.orderCost{
  background-color: #f7f7f7;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.order-item{
  width: 100%;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-top: 15px;
}


.btn{
  margin-top: 15px;
}

.bread-options{
  width: 33%;
  height: 100px;
  margin-top: 20px;
  padding-left: 20px;
  float: left;
}

.bread-options h3{
 margin-left:  -20px;
 margin-bottom: 20px;
}

.fillings{
  width: 66%;
  margin-top: 20px;
  float: left;
  padding-left: 20px;
}

.fillings h3{
  margin-left:  -20px;
  margin-bottom: 20px;
}

.top-check{
  width: 33%;
  float: left;
}


.output{
  width: 50%;
  margin:  0 auto;
  margin-top: 50px;
}


footer {
  width: 100%;
  background-color: #2c2c2c;
  margin-top: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

footer p{
  text-align: center;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
}
  
.footer-left {
  width: 20%;
  float: left;
  align-items: center;
  color: aliceblue;
}
  
.logo-name {
  font-family: 'Lobster', cursive;
}
  
.footer-right {
  width: 20%;
  float: right;
  align-items: center;
}
  
.social-media-link {
  float: right;
 margin-left: 10px;
}
  
.social-media-link img {
  
  height: 30px;
 }
  
  