
body{
  background-color: blanchedalmond;
}

body p{
  font-family: 'Montserrat', sans-serif;
}

body h3{
  font-family: 'Playfair Display', serif;
}
body h4{
  font-family: 'Playfair Display', serif;
}

body h1{
  font-family: 'Lobster', cursive;
}
.overlay{
  width: 100%;
  padding-top: 40px;
  padding-left: 15px;
  height: 375px;
  background-color: rgb(255, 162, 0);
}

.jumbotron{
  background-image: url("../assets/side-view-sandwich-white-bread-with-grilled-meat-cutlet-cheese-lettuce-french-fries-mayo-ketchup-boardjpg.jpg");
  background-position: center;
  background-size: cover;
}

.jumbotron p{
  font-weight: bold;
}

.overlay2{
  padding-top: 5px;
  padding-left: 25px;
  width: 100%;
  height: 375px;
  background-color: rgba(117, 102, 55, 0.9);
}

.nav-link{
  font-family: 'Montserrat', sans-serif;
}
.navbar-brand{
  font-family: 'Lobster', cursive;
}

.col-image{
  background-image: url("../assets/andrew-valdivia-TuDxmwb0Kho-unsplash.jpg");
  background-size: cover;
  background-position: 0%;
  width: 100%;
  height: 375px;
  margin-bottom: 25px;
}
.col-image2{
  background-image: url("../assets/baguette.png");
  background-size:cover;
  background-position: center;
  width: 53%;
  height: 135px;
  margin-bottom: 25px;
  margin: auto;
}

.left{
  width: 50%;
  float: left;
  height: 110px;
}


.right{
  height: 130px;
  width: 50%;
  float: left;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
 
}

.orderCost{
  background-color: #cc6969;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

.order-item{
  width: 100%;
  height: 50px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-top: 15px;
}

.form-control{
  border-radius: 25px;
}
.btn{
  margin-top: 15px;
}

.bread-options{
  width: 33%;
  height: 100px;
  padding-left: 20px;
  float: left;
}

.bread-options h3{
 margin-left:  -20px;
}


.sauces-options{
  width: 100%;
  margin-top:50px;
  float: left;
  padding-left: 20px;
  margin-bottom: 20px;
}

.fillings-Options{
  width: 100%;
  margin-top:50px;
  float: left;
  padding-left: 20px;
  margin-bottom: 20px;
}

.fillings-Options h3{
  margin-left:  -20px;
  margin-bottom: 20px;
}

.sauces-options h3{
  margin-left:  -20px;
  margin-bottom: 20px;
}

.sauces{
  width: 100%;
  margin-top:50px;
  float: left;
  padding-left: 20px;
  margin-bottom: 20px;
}

.fillings h3{
  margin-left:  -20px;
  margin-bottom: 20px;
}

.btn-1{
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background-color: #fdfdfd;
  font-weight: bold;
}

.btn-1:hover{
  cursor: pointer;
  background-color: #cc6969;
}

.btn-2{
  width: 370px;
  height: 50px;
  border-radius: 25px;
  background-color: #cc6969;
  font-weight: bold;
}

.btn-2:hover{
  cursor: pointer;
  background-color: #fdfdfd;
}

.top-check{
  width: 33%;
  float: left;
}


.output{
  width: 100%;
  
  text-align: center;
  
}
.output{
  width: 51%;
  height: 45px;
  margin:  0 auto;
  margin-top: 50px;
  border-bottom: 2px solid #cc6969;
}
.card1{
  width: 33%;
  height: auto;
  border-radius: 25px;
  margin-top: 15px;
  float: left;
  margin: 0.1%;
  border:solid red 5px;
  background-color: #f7f7f7;
  
}

.card-title{
  text-align: center;
  margin-top: 10px;
}

.outHeader h3{
  float: left;
}

.totalOrder{
  float: left;
  margin-left: 48%;
}

.totalOrder h3{
  font-size: 40px;
  margin-top: -10px;
}

footer {
  width: 100%;
  background-color: #2c2c2c;
  margin-top: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

footer p{
  text-align: center;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
}
  
.footer-left {
  width: 20%;
  float: left;
  align-items: center;
  color: aliceblue;
}
  
.logo-name {
  font-family: 'Lobster', cursive;
}
  
.footer-right {
  width: 20%;
  float: right;
  align-items: center;
}
  
.social-media-link {
  float: right;
 margin-left: 10px;
}
  
.social-media-link img {
  
  height: 30px;
 }
  
  